* {
    font-family: 'Kaushan Script', cursive;
    margin: 0px;
}

#menu {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
}

#logo {
    margin-left: 20px;
}

#menuButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 68%;
}

#phoneNumber {
    margin-left: 50px;
}

#shoppingCart {
    margin-left: 80px;
}

#firstBackground {
    background-image: url("header-background.jpeg");
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    filter: blur(1px);
    height: calc(100% - 70px);
    background-color: rgba(218, 172, 24, 0.3);
}

#firstView {
    z-index: 2;
    width: 100%;
    height: calc(100% - 70px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#exploreButton {
    z-index: 2;
    margin-top: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(0, 0, 0, 0.0);
    border-color: black;
    border-radius: 4px;
    border-width: 2;
    font-size: 25px;
}

#exploreButton2 {
    z-index: 2;
    margin-top: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 14px;
    padding-right: 14px;
    background-color: rgba(0, 0, 0, 0.0);
    border-color: black;
    border-radius: 4px;
    border-width: 1;
    font-size: 16px;
}

#shoppingButton {
    float: left;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: rgba(0, 0, 0, 0.0);
    border-radius: 5px;
    border-width: 1;
    border-color: black;
    font-size: 15px;
}

#welcome {
    color: white;
    font-size: 45px;
}

ul {
    font-size: 22px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    float: left;
}

#menu a {
    display: block;
    padding: 8px;
    color: #ef7998;
    text-decoration: none;
}

#secondView {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 100%;
    background-color: white;
    font-size: 30px;
}

#content {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
}

#aboutUs p {
    color: #75757d;
    font-size: 14px;
    margin-top: 15px;
}

#aboutUs span {
    font-size: 55px;
    color: #ef7998;
}

#aboutUs {
    padding: 55px;
    flex: 1;
    font-size: 35px;
}

#donut {
    flex: 1;
    position: relative;
}

#donut img {
    height: 375px;
    width: 500px;
    padding: 10px;
    position: absolute;
    top: 20px;
    left: 20px;
}

#donutBorder {
    content: '';
    position: relative;
    width: 500px;
    height: 375px;
    border: 8px solid #f9e494;
}

#footer {
    height: 30%;
    width: 100%;
    background-color: #eeeeee;
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

#footer span {
    font-size: 60px;
    color: #ef7998;
}

#footer p {
    padding-top: 25px;
}

#footer li {
    display: inline-block;
    font-size: 17px;
    color: #333;
    border: 1px solid #333;
    border-radius: 3px;
    padding: 8px;
    margin-bottom: 25px;
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 25px;
}

#footer a {
    display: block;
    color: #333;
    text-decoration: none;
}

#searchBar {
    margin-top: 10px;
    width: 25%;
    margin: 0 auto;
    height: 35px;
    background-color: #ef7998;
    border-radius: 5px;
    overflow: hidden;
    border-width: 1px;
    border-color: #ced4da;
    border-style: solid;
}

#searchIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    float: left;
    background: #ef7998;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
}

#searchBar input {
    float: left;
    width: 413px;
    height: 100%;
    padding-left: 8px;
}